Repository izderadicka/microservices-demo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: microservices, client

microservices:
  stage: init
  trigger:
    include: backend-pipeline.yml
    strategy: depend

client:
  stage: init
  trigger:
    include: frontend-pipeline.yml
    strategy: depend

CI: Pridat dummy task to hlavni pipeline
  .gitlab-ci.yml
Due: none

NG: Pridat test do pipeline
  frontend-pipeline.yml
Due: client

NG: Opravit testy
  angular-tutorial-heroes/karma.conf.js
  angular-tutorial-heroes/src/app/app.component.spec.ts
  angular-tutorial-heroes/src/app/dashboard/dashboard.component.spec.ts
  angular-tutorial-heroes/src/app/mock-heroes.ts
Due: none

NG: Opravit testy
  angular-tutorial-heroes/src/app/app.component.spec.ts
  angular-tutorial-heroes/src/app/hero-detail/hero-detail.component.spec.ts
  angular-tutorial-heroes/src/app/hero-search/hero-search.component.spec.ts
  angular-tutorial-heroes/src/app/hero.service.spec.ts
  angular-tutorial-heroes/src/app/heroes/heroes.component.spec.ts
Due: none

CI: opravit client job
  .gitlab-ci.yml
Due: none

NG: Pridat job pro docker
  frontend-pipeline.yml
Due: client

NG: opravit deploy CI job
  frontend-pipeline.yml
Due: client

NG: Opravit artifakt cestu
  frontend-pipeline.yml
Due: client

NG(CI): Test
  frontend-pipeline.yml
Due: client

NG(CI): Pouzit podman image
  frontend-pipeline.yml
Due: client

NG(CI): Push image to repo
  frontend-pipeline.yml
Due: client

CI: Dat deploy image jako include
  deploy-image.yml
  frontend-pipeline.yml
Due: client

CI: opravit YAML syntax
  frontend-pipeline.yml
Due: client

CI: opravit YAML
  deploy-image.yml
  frontend-pipeline.yml
Due: client

CI: Zkusit anchor
  deploy-image.yml
  frontend-pipeline.yml
Due: client

CI: Pouzit extends misto anchors
  deploy-image.yml
  frontend-pipeline.yml
Due: client

BACK(CI): Pridat docker deploy
  backend-pipeline.yml
Due: microservices

NG: Upravit css
  angular-tutorial-heroes/src/app/app.component.css
Due: none

DEPLOY: Premistit deploy skripty do toplevel adresare
  deployment/color-service-deployment.yaml
  deployment/color-service-service.yaml
  deployment/complete_deployment_on_openshift.yaml
  deployment/create-postgres-user-secret.sh
  deployment/heroesdemo-deployment.yaml
  deployment/heroesdemo-service.yaml
  deployment/pgadmin-deployment.yaml
  deployment/pgadmin-persistentvolumeclaim.yaml
  deployment/pgadmin-service.yaml
  deployment/postgres-deployment.yaml
  deployment/postgres-networkpolicy.yaml
  deployment/postgres-persistentvolumeclaim.yaml
  deployment/postgres-service.yaml
Due: none

Rename old folder
  deployment/color-service-deployment.yaml
  deployment/color-service-route.yaml
  deployment/color-service-service.yaml
  deployment/front-end-deployment.yaml
  deployment/front-end-route.yaml
  deployment/front-end-service.yaml
  deployment/heroes-service-deployment.yaml
  deployment/heroes-service-route.yaml
  deployment/heroes-service-service.yaml
  deployment/heroesdemo-deployment.yaml
  deployment/heroesdemo-service.yaml
  unused/complete_deployment_on_openshift.yaml
  unused/create-postgres-user-secret.sh
  unused/pgadmin-deployment.yaml
  unused/pgadmin-persistentvolumeclaim.yaml
  unused/pgadmin-service.yaml
  unused/postgres-deployment.yaml
  unused/postgres-networkpolicy.yaml
  unused/postgres-persistentvolumeclaim.yaml
  unused/postgres-service.yaml
Due: none

Path conditions:
  microservices: any of: color-service/**/*, heroesdemo_server/**/*, spoiler/**/*, pom.xml, backend-pipeline.yml
  client: any of: /angular-tutorial-heroes/**/*, frontend-pipeline.yml
